<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>

<div class="footer-container"></div>
<footer>
  <div class="nav_footer">

    <div class="row">
      <div class="col-auto mr-auto">
        <ul>
          <li class="nav_footer-item">
            <a class="nav_footer-link" href="/">Home</a>
          </li>
          <li class="nav_footer-item">
            <a class="nav_footer-link" href="/projects">Projects</a>
          </li>
          <li class="nav_footer-item">
            <a class="nav_footer-link" href="/about">About</a>
          </li>
        </ul>
      </div>

      <div class="col-auto">
        <div class="row justify-content-end">
          <p class="copyright">
            Steve Walker - Copyright {{getCurrentYear}}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>