<header>
  <div class="container">
    <div class="row justify-content-between">

      <div class="page_title justify-content-start">
        <h1>
          {{pageTitle}}
        </h1>
      </div>

      <ul class="nav nav-tabs ">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>

    </div>
  </div>
</header>