<header>
  <div class="container">
    <div class="row justify-content-between">
      <div class="page_title justify-content-start">
        <h1>
          {{pageTitle}}
        </h1>
      </div>
      <div class="nav-bar justify-content-end"></div>
      <ul class="nav nav-tabs ">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  {{!--
  <p>
    <a href="/">Home</a>
  </p>

  <p>
    <a href="/about">About</a>
  </p>

  <p>
    <a href="/projects">Projects</a>
  </p> --}}

</header>