<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

  {{> nav}}

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa suscipit voluptas nam. Iste velit ullam dolor fuga cupiditate
    saepe repellat!</p>

  {{> footer}}

</body>

</html>