<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
  <div class="container-fluid">
    {{> nav}}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa suscipit voluptas nam. Iste velit ullam dolor fuga cupiditate
      saepe repellat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae consequatur perferendis nesciunt
      ex soluta aut dolorum, obcaecati rem, accusamus corporis maiores exercitationem harum minima adipisci libero veritatis
      amet cupiditate assumenda, iste eos ad! Vel deserunt eligendi molestias vitae commodi eos repellat ducimus dolor ipsa.
      Consectetur reprehenderit impedit eaque nihil distinctio. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Repudiandae perferendis exercitationem eum veritatis atque pariatur repellat amet ea illum ab? Eos, eveniet eum fuga
      in ipsa alias blanditiis. Ullam nobis sunt architecto perferendis aperiam itaque atque doloribus ex, amet minima dolor,
      debitis illum eius.</p>

    {{> footer}}

  </div>
</body>

</html>