<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
  <div class="container-fluid">
    {{> nav}}

    <p>Culpa suscipit voluptas nam. Iste velit ullam dolor fuga cupiditate saepe repellat! Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Similique possimus animi quaerat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ratione
      et dolorum corporis necessitatibus totam quas, ullam doloremque accusamus aperiam, itaque praesentium eius, hic excepturi.
      Quae, a! Numquam minima at, facilis sunt perferendis repudiandae in ab? Sed fugiat voluptate earum? Lorem ipsum dolor,
      sit amet consectetur adipisicing elit. Laboriosam officiis commodi debitis in dolorem perspiciatis sequi distinctio
      id dolor, rerum, qui dolores iure, blanditiis ea esse reprehenderit vel ipsam eius atque. Nemo, deserunt.</p>

    {{> footer}}
  </div>
</body>

</html>