<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Projects Page</title>
</head>

<body>

  {{> header}}

  <p>Culpa suscipit voluptas nam. Iste velit ullam dolor fuga cupiditate saepe repellat! Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Similique possimus animi quaerat!</p>

  {{> footer}}
</body>

</html>